all:
  vars:
    secure_nodes_prefix: sec
    super_nodes_prefix: sup
    ipv6_subnet: "2a45:c456:4493:5534:c:c:c:"
    ssh_public_key: ssh-rsa AAAAB3Nz..K7n8DX5dBeEQlEBN6fcVN your_user@ansible_controler
    blocks_directory: /root/chain
    global_tracker_region: eu
    global_tracker_email: your_email@gmail.com
    global_domain: your-nodes-address.com
    swap_size_gb: 60
  children:
    master:
      vars:
        ansible_become_pass: "super_secret_password"
        ansible_user: "your_user"
        ansible_become: true
        ansible_python_interpreter: /usr/bin/python3
      hosts:
        master01:
          ansible_host: your-nodes-address.com
    supernodes:
      vars:
        ansible_user: root
        tracker_region: "{{global_tracker_region}}"
        node_type: super
        super_category: super
        tracker_prefix: xns
        public_ipv4_netmask: 24
      hosts:
        supnode01:
          ansible_fqdn: "{{super_nodes_prefix}}01.{{global_domain}}"
          ansible_host: "{{ipv6_subnet}}11"
          public_ipv4_address:
          private_ipv4_address: 10.0.3.201
          stake_address:
          tracker_email: "{{global_tracker_email}}"
          category: "{{super_category}}"
        # supnode02:
        #  ansible_fqdn: "{{super_nodes_prefix}}02.{{global_domain}}"
        #  ansible_host: "{{ipv6_subnet}}12"
        #  public_ipv4_address:
        #  private_ipv4_address: 10.0.3.202
        #  stake_address:
        #  tracker_email: "{{global_tracker_email}}"
        #  category: "{{super_category}}"
        # supnode03:
        #  ansible_fqdn: "{{super_nodes_prefix}}03.{{global_domain}}"
        #  ansible_host: "{{ipv6_subnet}}13"
        #  public_ipv4_address:
        #  private_ipv4_address: 10.0.3.203
        #  stake_address:
        #  tracker_email: "{{global_tracker_email}}"
        #  category: "{{super_category}}"
    securenodes:
      vars:
        ansible_user: root
        tracker_email: "{{global_tracker_email}}"
        tracker_region: "{{global_tracker_region}}"
        node_type: secure
        secure_category: "{{node_type}}"
        tracker_prefix: ts
      hosts:
        secnode01:
          ansible_fqdn: "{{secure_nodes_prefix}}01.{{global_domain}}"
          ansible_host: "{{ipv6_subnet}}21"
          stake_address:
          tracker_email: "{{global_tracker_email}}"
          category: "{{secure_category}}"
        # secnode02:
        #   ansible_fqdn: "{{secure_nodes_prefix}}02.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}22"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode03:
        #   ansible_fqdn: "{{secure_nodes_prefix}}03.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}23"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode04:
        #   ansible_fqdn: "{{secure_nodes_prefix}}04.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}24"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode05:
        #   ansible_fqdn: "{{secure_nodes_prefix}}05.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}25"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode06:
        #   ansible_fqdn: "{{secure_nodes_prefix}}06.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}26"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode07:
        #   ansible_fqdn: "{{secure_nodes_prefix}}07.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}27"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode08:
        #   ansible_fqdn: "{{secure_nodes_prefix}}08.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}28"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode09:
        #   ansible_fqdn: "{{secure_nodes_prefix}}09.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}29"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode10:
        #   ansible_fqdn: "{{secure_nodes_prefix}}10.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}30"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode11:
        #   ansible_fqdn: "{{secure_nodes_prefix}}11.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}31"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
        # secnode12:
        #   ansible_fqdn: "{{secure_nodes_prefix}}12.{{global_domain}}"
        #   ansible_host: "{{ipv6_subnet}}32"
        #   stake_address:
        #   tracker_email: "{{global_tracker_email}}"
        #   category: "{{secure_category}}"
