[Unit]
Description=ZenCash Secure Node Tracker
After=network.target zend.service

[Service]
Type=simple
ExecStart=/usr/local/bin/node app.js
WorkingDirectory=/home/zend/secnodetracker
Restart=always
User=zend
Group=zend
Nice=-19

[Install]
WantedBy=multi-user.target
